## Course Information
INFO 521: Introduction to Machine Learning\
Instructor: Xuan Lu, College of Information Science

## Instructions
#### Objectives
This worksheet will assess your knowledge of basic commands in Python. Please review the lectures, suggested readings, and additional resources before starting the homework, as this document closely follows the provided materials.

#### Grading
Please note that grades are **NOT exclusively based on your final answers**. We will be grading the overall structure and logic of your code. Feel free to use as many lines as you need to answer each of the questions. I also highly recommend and strongly encourage adding comments (`#`) to your code. Comments will certainly improve the reproducibility and readability of your submission. Commenting your code is also good coding practice. **Specifically for the course, you’ll get better feedback if the TA is able to understand your code in detail.**

#### Submission
This homework is due by the end of the week it is released (**Sunday, 11:59 pm AZ time**). Please contact the instructor if you are (i) having issues opening the assignment, (ii) not understanding the questions, or (iii) having issues submitting your assignment. Note that late submissions are subject to a penalty (see late work policies in the syllabus).
- Please submit a single Jupyter Notebook file (this file). Answers to each question should be included in the relevant block of code (see below). Rename your file to "**lastname_Hw1.ipynb**" before submitting. If a given block of code is causing issues and you didn't manage to fix it, please add comments.

#### Time commitment
Please reach out if you’re taking more than ~18h to complete (1) this homework, (2) reading the book chapters, and (3) going over the lectures. I will be happy to provide accommodations if necessary. **Do not wait until the last minute to start working on this homework**. In most cases, working under pressure will certainly increase the time needed to answer each of these questions and the instructor and the TA might not be 100% available on Sundays to troubleshoot with you.

#### Looking for help?
First, please go over the relevant readings for this week. Second, if you’re still struggling with any of the questions, do some independent research (e.g. stackoverflow is a wonderful resource). Don’t forget that your classmates will also be working on the same questions - reach out for help (check under the Discussion forum for folks looking to interact with other students in this class or start your own thread). Finally, the TA is available to answer any questions during office hours and via email.

## Questions

Name: [Your name]\
Affiliation: [Your affiliation]

#### Question 1

Assign the value 26 to a variable *x*.
Create a list *y* with the values '[2, 36, 1, 98, 124]'.
Multiply the value of *x* with each element of *y* element-wise and save the result in a new list *z*.
Calculate the sum of all elements in *z* and save the result in a new variable named *Q1*.

In [ ]:
# BEGIN SOLUTION

# END SOLUTION

#### Question 2

Generate a sequence from 21 to 400 and save it in a variable named *Q2_1*.
Generate a second sequence from 2 to -35 and save it in a variable named *Q2_2*.

In [ ]:
# BEGIN SOLUTION

# END SOLUTION

#### Question 3

Generate a sequence from -3 to 9 with steps of 0.1 and save it in a variable named *Q3*.

In [ ]:
# BEGIN SOLUTION

# END SOLUTION

#### Question 4
Randomly sample 100 times from a total of 20 elements of *Q3* (with replacement).
Save the results in a new variable named *Q4* as a list.

In [ ]:
# BEGIN SOLUTION

# END SOLUTION

#### Question 5
Define two lists: one named *t* with the strings ['mon', 'tue', 'wed', 'thu', 'fri', 'sat'] and another named m with the values [90, 80, 50, 20, 5, 20].
Combine these lists column-wise into a DataFrame with 6 rows and 2 columns.
Save this DataFrame in a new variable named *Q5*.

In [ ]:
# BEGIN SOLUTION

# END SOLUTION

#### Question 6
Create three vectors of length 100:
- *weight* with a mean of 81 and standard deviation of 0.26, in kilograms;
- *height* with a mean of 1.76 and standard deviation of 0.22, in meters;
- *age* with a mean of 25 and standard deviation of 5, in years. Generate these vectors by sampling from normal distributions.\

Create a fourth vector *gender* with the same length as height, randomly sampling (with replacement) from the vector ["A", "B", "C"].

In [ ]:
# BEGIN SOLUTION

# END SOLUTION

#### Question 7
Create a DataFrame by combining the four vectors (*weight*, *height*, *age*, and *gender*) as columns.
Add a new column named *BMI* with NaN values.
Save this DataFrame in a new variable named *Q7*.

In [ ]:
# BEGIN SOLUTION

# END SOLUTION

#### Question 8
Generate a new column named *AgeGroup* in the DataFrame *Q7*. 
- The values in this column should be *True* if the age is out of range (i.e., less than 20 or greater than 30), and *False* otherwise.

Save the updated DataFrame in a new variable named *Q8*.

In [ ]:
# BEGIN SOLUTION

# END SOLUTION

#### Question 9
Calculate the Body Mass Index (BMI) for all people in the *Q8* DataFrame using the formula:
$$BMI = \frac{Weight_{(Kg)}} {Height_{(m)}^2}$$
Store the calculated BMI values in the *BMI* column of *Q8*.
Save the updated DataFrame in a new variable named *Q9*.

In [ ]:
# BEGIN SOLUTION

# END SOLUTION

#### Question 10
Create a function named *function_Q10* that calculates the BMI. The function should take two arguments, height and weight, and return a numerical vector of BMI values.\
Test the function by applying it to the *height* and *weight* columns from the *Q9* DataFrame and show that it works.

In [ ]:
# BEGIN SOLUTION

# END SOLUTION

#### Question 11
Create a function named *function_Q11* that calculates the mean BMI for a specific gender. The function should take two arguments:
- A DataFrame that contains at least the BMI and Gender columns.
- A target gender to calculate the mean BMI for.

Test the function by running it with a specific gender (e.g., 'A') to show that it calculates the mean BMI correctly.

In [ ]:
# BEGIN SOLUTION

# END SOLUTION

#### Question 12
Append a new column named *BMIc* to the *Q9* DataFrame that adjusts the BMI values based on the *AgeGroup* column.
Specifically:
- If a participant's age falls into the *out of range* category in the *AgeGroup* column, increase their BMI by 10%.
- If not, use the original BMI value.

Save the updated DataFrame as *Q12*.

In [ ]:
# BEGIN SOLUTION

# END SOLUTION